@import '~vuetify/dist/vuetify.min.css';
@import 'colors';
@import "class-default";

// Defind styles for app
.v-application{
    background-color: $color___background;
    .login{
        background-color: inherit;
        height: 100vh;
        padding: 7em 0em;
        .card{
            border: unset;
            @extend %background-dark;
            .card-header{
                @extend %background-dark;
                border-bottom: unset;
                padding-bottom: 2em;
            }
            .card-body {
                height: auto;
                max-width: 400px;
                width: 100%;
                margin: 0 auto;
                background-color: $color___white;
                padding: 2em;
                .form-group{
                    margin-bottom: 1rem;
                    .form-control{
                        height: 44px;
                    }
                }
            }
        }
    }
}