// Size
.text-size-30{
    font-size: 30px !important;
}
.text-size-20{
    font-size: 20px !important;
}
.text-size-15{
    font-size: 15px !important;
}
.text-size-18{
    font-size: 18px !important;
}

// Weight
.font-weight-600{
    font-weight: 600 !important;
}